!!!
html(lang='en')
	head
		title= 'Hello !'
		link(rel="stylesheet", type="text/css", href="styles/main.css")
		//- script(type="text/javascript", src="components/jquery/jquery.js")
	body
		h1 I come from the layout
		block body